export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="{{ zsh_theme }}"

plugins=(
	git
	asdf
	zsh-autosuggestions
	zsh-syntax-highlighting
	zsh-bat
	jsontools
	you-should-use
	fzf
	z
	thefuck
)

source $ZSH/oh-my-zsh.sh
