# Path to Oh-My-Zsh installation
export ZSH="$HOME/.oh-my-zsh"

# Set theme
ZSH_THEME="{{ zsh_theme }}"

# Enable plugins
plugins=(
  {% for plugin in zsh_plugins %}
  {{ plugin }}
  {% endfor %}
)

# Additional plugin-specific configurations
{% if 'thefuck' in zsh_plugins %}
# Enable thefuck alias
eval $(thefuck --alias)
{% endif %}

{% if 'zsh-autosuggestions' in zsh_plugins %}
# Tweak autosuggestions (optional)
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=8"
{% endif %}

# Load Oh-My-Zsh
source $ZSH/oh-my-zsh.sh

# Add custom configurations
{% if custom_zsh_config is defined %}
{{ custom_zsh_config }}
{% endif %}
