[Desktop Entry]
Type=Application
Exec={{ gnome_extension_dir }}/gnome-runcat/gnome-runcat
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=gnome-runcat
Comment=RunCat CPU usage indicator for GNOME Shell
